@use '../_config/variables' as *;
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  background-color: $main;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  color: $text-secondary;
  font-family: 'Montserrat', sans-serif;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

ul, ol {
  margin: 1em 0;
  padding-left: 40px;
}
p, figure {
  margin: 1em 0;
}
a img {
  border: none;
}
sup, sub {
  line-height: 0;
}