<section class="footer-container">
  
  <div id="footer-particles"></div>

  <div class="footer-content">
    
    <div class="footer-icons">
      <a aria-label="My Email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Telegram" target="_blank" rel="noopener noreferrer" href="https://telegram.me/{{site.telegram_username}}"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" rel="noopener noreferrer" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      <a aria-label="Download My CV" target="_blank" rel="noopener noreferrer" href="/assets/files/MaryamRezaeeCV2025.pdf"><i class="icon fa fa-download" aria-hidden="true"></i></a>
    </div>

    <p class="footer-location">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      Tehran, Iran
    </p>

    <p>&copy; {{ site.time | date: "%Y" }} {{site.username}}</p>
    <p>
      Design by <a href="https://github.com/{{site.github_username}}" target="_blank" rel="noopener noreferrer">Maryam Rezaee</a>.
      <br>
      Inspired by the <a href="https://github.com/nrandecker/particle" target="_blank" rel="noopener noreferrer">Particle Theme</a> by Nathan Randecker.
    </p>
  </div>
</section>