<div id="hero-particles" class="hero-header">
  <div class="header-content">
    <h1>
      <span class="site-title">{{ site.user_name }}</span>
      <!-- <span class="site-description">{{ site.user_title }}</span> -->
    </h1>

    <div class="header-icons">
      <!-- CV Link -->
      <a aria-label="CV" href="/cv" target="_blank" rel="noopener noreferrer" data-tooltip="CV">
        <i class="icon fa fa-file-text" aria-hidden="true"></i>
      </a>

      <!-- Design Subdomain -->
      <a aria-label="Design Portfolio" href="{{ site.design_url | default: 'https://design.maryamrezaee.me' }}" class="wip-link" data-tooltip="System Updating...">
        <i class="icon fa fa-magic" aria-hidden="true"></i>
      </a>

      <!-- Lab Subdomain -->
      <a aria-label="Academic Blog" href="{{ site.lab_url | default: 'https://lab.maryamrezaee.me' }}" class="wip-link" data-tooltip="System Updating...">
        <i class="icon fa fa-flask" aria-hidden="true"></i>
      </a>

      <!-- Personal Subdomain -->
      <a aria-label="Personal Blog" href="{{ site.me_url | default: 'https://me.maryamrezaee.me' }}" target="_blank" rel="noopener noreferrer" data-tooltip="Personal Blog">
        <i class="icon fa fa-eye" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="scroll-down-arrow" href="#intro" data-scroll aria-label="Scroll Down">
    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</div>