<div id="hero-particles" class="hero-header">
  <div class="header-content">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <!-- <span class="site-description">{{ site.user_title }}</span> -->
    </h1>

    <div class="header-icons">
      <!-- CV Link -->
      <a aria-label="CV" href="/cv/" class="wip-link" data-tooltip="Connecting...">
        <i class="icon fa fa-file-text" aria-hidden="true"></i>
      </a>

      <!-- The Lab Subdomain -->
      <a aria-label="The Lab" href="{{ site.lab_url | default: 'https://lab.maryamrezaee.me' }}" class="wip-link" data-tooltip="Booting...">
        <i class="icon fa fa-flask" aria-hidden="true"></i>
      </a>

      <!-- Design Subdomain -->
      <a aria-label="Design" href="{{ site.design_url | default: 'https://design.maryamrezaee.me' }}" class="wip-link" data-tooltip="Rendering...">
        <i class="icon fa fa-paint-brush" aria-hidden="true"></i>
      </a>

      <!-- Personal Space Subdomain -->
      <a aria-label="Personal Space" href="{{ site.me_url | default: 'https://me.maryamrezaee.me' }}" target="_blank" rel="noopener noreferrer">
        <i class="icon fa fa-moon-o" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <a class="scroll-down-arrow" href="#intro" data-scroll aria-label="Scroll down">
    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</div>