$main: #121221; // Dark blueish violet
$text-primary: #EAEAEA; // Light grey for primary text
$text-secondary: #B3B3B3; // Slightly darker grey for secondary text
$accent: #bb86fc; // A lighter violet for links and accents for better contrast
$purple: #3700b3;
$sec: #1f1f32; // A slightly lighter shade of main for secondary elements
$cut: 550px;