$main: #121221;               // Dark blueish violet
$text-primary: #EAEAEA;       // Light grey for primary text
$text-secondary: #B3B3B3;     // Slightly darker grey for secondary text
$accent: #bb86fc;             // A lighter violet for links and accents for better contrast
$love: red;                   // Color for the heart in the footer
$cut: 550px;