// Site colors
$main: #121221;             // Dark blueish violet
$text-primary: #EAEAEA;     // Light grey for primary text
$text-secondary: #B3B3B3;   // Slightly darker grey for secondary text
$accent: #a786fc;           // A lighter violet for links and accents
$accent-secondary: #4c45a2; // A slightly darker violet for secondary accents
$line: #4d4078;             // A darker version of accent for lines and circuits
$love: red;                 // Color for the heart in the footer

// Breakpoints
$cut: 550px;